<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrUYXKaKjSW1KZS6V54ahdmLa80Zqf0_0</string>
	<key>GCM_SENDER_ID</key>
	<string>557435203705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ourobyte.parkingapp</string>
	<key>PROJECT_ID</key>
	<string>ourobyte-cab45</string>
	<key>STORAGE_BUCKET</key>
	<string>ourobyte-cab45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557435203705:ios:317954426b1d2149e164a8</string>
</dict>
</plist>